.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 120px;
  max-width: 600px;
  padding: 20px;

  font-size: 1em;
  font-weight: 500;
  color: #000000;

  background-color: #efefef;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category:hover {
  background-color: #e3e3eb;
}
